@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
    //user-select: none;
}

body {
    background: #000;
}

h1, h2, p {
    color: whitesmoke;
}

h1 {
    font-weight: 300;
    font-family: monospace;
    &.status {
        margin-top: 5px;
        span {
            color: #3131dd;
            font-size: 25px;
            font-family: monospace;
        }
    }
}

div.title {
    display: block;
    text-align: center;
    margin: 50px 0;
}

section.legend {
    display: block;
    text-align: center;
    div {
        display: flex;
    }
}

section.states {
    margin: auto;
    max-width: 70%;
    margin-bottom: 40px;
    div.container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #000;
        border-bottom: 1px solid rgb(30, 30, 30);
        padding: 20px;
        span.material-symbols-outlined {
            color: white;
            margin-left: 10px;
            font-size: 30px;
        }
        h2 {
            font-weight: 200;
            font-size: 30px;
        }
        p {
            font-weight: 100;
            font-size: 20px;
        }
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            span:not(.material-symbols-outlined) {
                margin-left: 10px;
                position: relative;
                z-index: 0;
            }
        }
    }
}

div.led1 {
    width: 17px;
    height: 17px;
    background: #00ff00;
    border-radius: 50%;
    margin-left: 15px;
    box-shadow: 0 0 4px 4px #00ac00;
    animation: led1 2s linear infinite;
}
div.led2 {
    width: 17px;
    height: 17px;
    background: #00ff00;
    border-radius: 50%;
    margin-left: 15px;
    box-shadow: 0 0 1px 2px #00ac00;
    opacity: .5;
    animation: led1 2s linear infinite;
}
div.led3 {
    width: 17px;
    height: 17px;
    background: #ffcc00;
    border-radius: 50%;
    margin-left: 15px;
    box-shadow: 0 0 4px 4px #856f00;
    animation: led3 2s linear infinite;
}
div.led4 {
    width: 17px;
    height: 17px;
    background: rgb(96, 106, 255);
    border-radius: 50%;
    margin-left: 15px;
    box-shadow: 0 0 4px 5px rgb(0, 40, 148);
}
div.led5 {
    width: 17px;
    height: 17px;
    background: rgb(255, 123, 0);
    border-radius: 50%;
    margin-left: 15px;
    box-shadow: 0 0 4px 4px rgb(107, 63, 1);
}
div.led6 {
    width: 17px;
    height: 17px;
    background: rgb(198, 0, 0);
    border-radius: 50%;
    margin-left: 15px;
    box-shadow: 0 0 4px 2px rgb(139, 1, 1);
}
div.led7 {
    width: 17px;
    height: 17px;
    background: rgb(49, 39, 39);
    border-radius: 50%;
    margin-left: 15px;
}

@keyframes led1 {
    0% { box-shadow: 0 0 4px 4px rgba(0, 128, 0, 0.6); }
    50% { box-shadow: 0 0 4px 4px rgb(0, 172, 0); }
    100% { box-shadow: 0 0 4px 4px rgba(0, 128, 0, 0.6); }
}

@keyframes led3 {
    0% { box-shadow: 0 0 4px 4px #755e00; }
    50% { box-shadow: 0 0 4px 4px #bb9911; }
    100% { box-shadow: 0 0 4px 4px #755e00; }
}

@media (max-width: 800px) {
    h1 {
        font-size: 20px;
        &.status {
            display: flex;
            flex-direction: column;
        }
    }
    section.states {
        max-width: 80%;
        
        div.container {
            display: block;
            h2 {
                font-size: 25px;
            }
            p {
                font-size: 20px;
            }
            span.material-symbols-outlined {
                font-size: 25px;
            }
            div.led {
                width: 13px;
                height: 13px;
            }
        }
    }
}